.submit-new-player-form-container {
  display: flex;
  justify-content: center;
}

.player-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.player-main-stats {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.player-description {
  display: flex;
  flex-direction: column;
}

.other-stats {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.submit-new-player {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 2rem;
}

.cButton {
  align-items: center;
  border: none;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  font-size: 1rem;
  margin: 0.2rem 0.2rem;
  transition-duration: 0.4s;
  cursor: pointer;
  /* margin-top: 5%; */
  background-color: black;
  color: white;
  border: 2px solid red;
}

.cButton:hover {
  background-color: rgb(240, 128, 128);
  color: rgb(55, 54, 54);
}

.cButton.active {
  background-color: brown;
  color: rgb(55, 54, 54);
}

.submitButton-container {
  display: flex;
  justify-content: center;
}

.input-cool-container {
  position: relative;
  text-align: center;
  background: white;
  border: 2px solid red;
  border-radius: 10px;
  display: inline-block;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.padding-stats {
  padding: 10px
}

.input-cool-container input,
.input-cool-container textarea {
  position: relative;
  background: transparent;
  border: none;
  outline: none;
  color: black;
}

.input-cool-container input {
  text-align: center;
}

.stat-name {
  position: absolute;
  top: -20px;
  left: 0;
  background-color: white;
  color: #303030;
}

.dynamic-value {
  content: "8";
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  padding: 4px 8px;
  border-radius: 50%;
  border: 2px solid red;
  color: #333;
}

