.App {
  text-align: center;
}

.headers-generic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.standard-links {
  color: red;
  background-color: transparent;
  text-decoration: none;
}

.standard-links:visited {
  color: red;
  background-color: transparent;
  text-decoration: none;
}

.non-standard-links {
  color: white;
}

.standard-links:hover,
.standard-links:active {
  color: rgb(214, 177, 177);
  background-color: transparent;
  text-decoration: none;
}


.player-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 40%;
}


.horizontal-ul li {
  display: inline;
}