html {
  scroll-behavior: smooth;
}

body {
  color: white;
  background-color: black;
}

.App {
  text-align: center;
}

.logout-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logout-button {
  position:absolute;
  right: 4rem;
}

.headers-generic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.standard-links {
  color: red;
  background-color: transparent;
  text-decoration: none;
}

.standard-links:visited {
  color: red;
  background-color: transparent;
  text-decoration: none;
}

.non-standard-links {
  color: white;
}

.standard-links:hover,
.standard-links:active {
  color: rgb(214, 177, 177);
  background-color: transparent;
  text-decoration: none;
}

.player-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 40%;
}

.horizontal-ul li {
  display: inline;
}
